{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ankieta przesłana{% endblock %}

{% block page_content %}

<div class="containter">
    <h1>Dziękuję za wypełnienie ankiety!</h1>
    <h4>Teraz możesz przejść na stronę główną, lub zobaczyć wyniki ankiety:</h4>
    <br/>
<p class="lead"></p>
<p><a class="btn btn-lg btn-success" href="/" role="button">Strona główna</a>
    <br/>
    <br/>
<p><a class="btn btn-lg btn-success" href="/testResults" role="button">Baza przebadanych</a>
</p>
</div>


<br/>
<br/>
<br/>
<br/>

<div class="jumbotron">  
<p>{{ moment(current_time).format('LLL') }}</p>    
<p><h5>To było {{ moment(current_time).fromNow(refresh=True) }}</h5></p>
</div>
{% endblock %}